body{
    background-color: gray;
}
h1{
    text-align: center;
}

li{
    list-style: none;
}

.deleteBttn{
    background-color: red;
}

.deleteBttn:hover{
    background-color: darkred;
}

.container{
    text-align: center;
    margin: auto;
    width: 50%;
}
